.btn-primary,
.btn-secondary,
.btn-danger,
.btn-floating,
.btn-ghost,
.btn-ghost-danger {
    @apply rounded-xl;
    @apply px-4 py-2;
    @apply font-bold;
    @apply gap-2;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-danger:hover,
.btn-floating:hover,
.btn-ghost:hover,
.btn-ghost-danger:hover {
    text-decoration-line: none;
}

/* --------------------------------------------------------------- */
/* Primary Button */
/* --------------------------------------------------------------- */

.btn-primary {
    @apply bg-primary/90;
    @apply text-onprimary;
}

@media not all and (hover: none) {
    .btn-primary:not(:disabled):hover {
        @apply bg-primary;
        @apply text-onprimary;
        @apply shadow;
    }
}

.btn-primary.disabled,
.btn-primary:disabled {
    @apply bg-onsurface/10;
    @apply text-onsurface/40;
}

/* --------------------------------------------------------------- */
/* Secondary Button */
/* --------------------------------------------------------------- */

.btn-secondary {
    @apply bg-secondary-container/90;
    @apply text-onsecondary-container;
}

.btn-secondary:not(:disabled):hover {
    @apply bg-secondary-container;
    @apply text-onsecondary-container;
    @apply shadow;
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    @apply bg-onsurface/10;
    @apply text-onsurface/40;
}

/* --------------------------------------------------------------- */
/* Danger Button */
/* --------------------------------------------------------------- */

.btn-danger {
    @apply bg-error-container/90;
    @apply text-onerror-container;
    @apply dark:bg-onerror-container/90;
    @apply dark:text-error-container;
}

a.btn-danger:not(:disabled):hover,
.btn-danger:not(:disabled):hover {
    @apply bg-error-container;
    @apply text-onerror-container;
    @apply shadow;
    @apply dark:bg-onerror-container;
    @apply dark:text-error-container;
}

.btn-danger.disabled,
.btn-danger:disabled {
    @apply bg-error-container/10;
    @apply text-onerror-container/40;
}

/* --------------------------------------------------------------- */
/* Floating Action Button */
/* --------------------------------------------------------------- */

.btn-floating,
.btn-floating-danger {
    position: relative;
    @apply gap-5 md:gap-6;
    @apply p-5 md:p-6;
    @apply rounded-2xl;
    @apply shadow-lg;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn-floating:before,
.btn-floating-danger:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    @apply bg-surface;
    @apply rounded-2xl;
}

/* Primary FAB */

.btn-floating {
    @apply bg-primary-container/90;
    @apply text-onprimary-container;
}

.btn-floating:not(:disabled):hover {
    @apply bg-primary-container;
    @apply shadow-xl;
}

/* Danger FAB */

.btn-floating-danger {
    @apply bg-error-container/90;
    @apply text-onerror-container;
    @apply dark:bg-onerror-container/90;
    @apply dark:text-error-container;
}

.btn-floating-danger:not(:disabled):hover {
    @apply bg-error-container;
    @apply shadow-xl;
    @apply dark:bg-onerror-container;
    @apply dark:text-error-container;
}

.btn-floating:disabled {
    @apply bg-primary-container/40;
    @apply text-onprimary-container/40;
}

.btn-floating-danger:disabled {
    @apply bg-error-container/40;
    @apply text-onerror-container/40;
}

/* --------------------------------------------------------------- */
/* Ghost Button */
/* --------------------------------------------------------------- */

.btn-ghost {
    @apply text-primary;
}

.btn-ghost:not(:disabled):hover {
    @apply bg-primary/10;
}

.btn-ghost:disabled,
.btn-ghost-danger:disabled {
    @apply opacity-50;
}

/* --------------------------------------------------------------- */
/* Danger Ghost Button */
/* --------------------------------------------------------------- */

.btn-ghost-danger {
    @apply text-error;
}

.btn-ghost-danger:not(:disabled):hover {
    @apply bg-error/10;
}

/* --------------------------------------------------------------- */
/* Icon Button */
/* --------------------------------------------------------------- */

.icon-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @apply h-11 w-11;
}

.icon-button:before {
    content: '';
    background: currentColor;
    opacity: 0.1;
    pointer-events: none;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transition: top, left, right, bottom;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
    @apply rounded-full;
}

.icon-button:hover:before {
    @apply bottom-0.5 left-0.5 right-0.5 top-0.5;
}

/* --------------------------------------------------------------- */
/* Back Button */
/* --------------------------------------------------------------- */

.btn-back {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @apply font-black hover:text-onsecondary-container;
    @apply rounded-full p-3;
    @apply hover:no-underline;
}

.btn-back:before {
    content: '';
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    transition: top, left, right, bottom;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
    border-radius: inherit;
    z-index: -1;
    @apply bg-secondary-container/50;
}

.btn-back:hover:before {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.btn-tag {
    white-space: nowrap;
    border-width: 1px;
    @apply rounded-full;
    @apply border-outline;
    @apply text-secondary;
    @apply px-4 py-1;
    @apply text-sm;
    @apply font-bold;
    @apply hover:border-secondary;
    @apply hover:shadow;
}

.btn-tag.active {
    @apply border-secondary;
    @apply bg-secondary-container;
    @apply text-onsecondary-container;
}

.btn-tag.active .icon-inactive,
.btn-tag .icon-active {
    display: none;
}

.btn-tag .icon-inactive,
.btn-tag.active > .icon-active {
    display: inline-block;
    @apply w-4;
}

@media (max-width: 1023px) {
    .details-page-primary-button .btn-primary,
    .details-page-primary-button .btn-secondary {
        @apply btn-floating;
    }

    .details-page-primary-button .btn-danger {
        @apply btn-floating-danger;
    }
}
