.btn-primary,
.btn-secondary,
.btn-danger,
.btn-floating,
.btn-ghost,
.btn-ghost-danger {
    @apply rounded-xl;
    @apply px-4 py-2;
    @apply font-bold;
    @apply flex items-center justify-center gap-2;
    @apply whitespace-nowrap;
    @apply hover:no-underline;
}

.btn-primary {
    @apply bg-primary bg-opacity-90 text-onprimary;
}

.btn-primary:not(:disabled) {
    @apply hover:bg-opacity-100 hover:shadow;
}

.btn-secondary {
    @apply bg-secondary-container bg-opacity-90 text-onsecondary-container;
}

.btn-secondary:not(:disabled) {
    @apply hover:bg-opacity-100 hover:shadow;
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    @apply bg-onsurface bg-opacity-15 text-onsurface text-opacity-40;
}

.btn-danger {
    @apply bg-error-container text-onerror-container;
}

a.btn-danger,
.btn-danger:enabled {
    @apply hover:shadow;
}

.btn-floating,
.btn-floating-danger {
    @apply gap-5 p-5 md:gap-6 md:p-6;
    @apply rounded-2xl shadow-lg hover:shadow-xl;
}

.btn-primary.disabled,
.btn-primary:disabled,
.btn-danger.disabled,
.btn-danger:disabled {
    @apply text-opacity-75 opacity-25 !important;
}

.btn-floating:disabled,
.btn-floating-danger:disabled {
    @apply text-opacity-25 opacity-100 !important;
}

.btn-floating {
    @apply bg-primary-container text-onprimary-container;
    @apply hover:bg-primary-container hover:text-onprimary-container;
    @apply truncate;
}

.btn-floating-danger {
    @apply bg-error-container text-onerror-container;
    @apply hover:bg-error-container hover:text-onerror-container;
    @apply truncate;
}

.btn-ghost,
.btn-ghost-danger {
    /*@apply flex items-center justify-center gap-2;*/
    /*@apply rounded-lg px-4 py-2;*/
    /*@apply hover:no-underline;*/
}

.btn-ghost {
    @apply text-secondary;
}

.btn-ghost:not(:disabled):hover {
    @apply bg-secondary-container text-onsecondary-container;
}

.btn-ghost:disabled,
.btn-ghost-danger:disabled{
    @apply opacity-50;
}

.btn-ghost-danger {
    @apply text-error;
}

.btn-ghost-danger:not(:disabled):hover {
    @apply bg-error-container text-onerror-container;
}

.icon-button {
    @apply flex items-center justify-center;
    @apply h-11 w-11;
    @apply relative;
}

.icon-button:before {
    content: '';
    @apply rounded-full bg-current opacity-5;
    @apply pointer-events-none;
    @apply absolute bottom-1/2 left-1/2 right-1/2 top-1/2;
    transition: top, left, right, bottom;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
}

.icon-button:hover:before {
    @apply bottom-0.5 left-0.5 right-0.5 top-0.5;
}

.btn-back {
    @apply flex items-center justify-center;
    @apply font-black hover:text-onsecondary-container;
    @apply rounded-full p-3;
    @apply hover:no-underline;
    @apply relative;
}

.btn-back:before {
    content: '';
    @apply pointer-events-none absolute bg-secondary-container bg-opacity-50;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    transition: top, left, right, bottom;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
    border-radius: inherit;
    z-index: -1;
}

.btn-back:hover:before {
    @apply bottom-0 left-0 right-0 top-0;
}

.btn-split {
    @apply flex items-stretch;
}

.btn-split > button:not(:first-child) {
    @apply rounded-l-none border-l border-opacity-25 pl-3;
}

.btn-split > button:not(:last-child) {
    @apply rounded-r-none pr-3;
}

.btn-split > .btn-primary {
    @apply border-onprimary;
}

.btn-split > .btn-secondary {
    @apply border-onsecondary;
}

.btn-split > .btn-danger {
    @apply border-white;
}

.btn-tag {
    @apply rounded-full border border-outline text-secondary;
    @apply whitespace-nowrap px-4 py-1 text-sm font-bold;
    @apply hover:border-secondary;
    @apply hover:shadow;
}

.btn-tag.active {
    @apply border-secondary bg-secondary-container text-onsecondary-container;
}

.btn-tag.active .icon-inactive,
.btn-tag .icon-active {
    @apply hidden;
}

.btn-tag .icon-inactive,
.btn-tag.active > .icon-active {
    @apply inline-block w-4;
}

@media (max-width: 1023px) {
    .details-page-primary-button .btn-primary,
    .details-page-primary-button .btn-secondary {
        @apply btn-floating;
    }

    .details-page-primary-button .btn-danger {
        @apply btn-floating-danger;
    }
}
