button:disabled {
    @apply bg-opacity-50;
}

.btn-primary,
.btn-secondary,
.btn-danger {
    @apply rounded-lg;
    @apply px-4 py-2;
    @apply font-bold;
    @apply flex items-center space-x-4;
    @apply whitespace-nowrap;
    @apply hover:no-underline;
}

.btn-primary {
    @apply bg-primary-200 text-primary-900;
}

a.btn-primary .btn-primary {
    @apply bg-primary-200 hover:bg-primary-300 hover:shadow;
}

.btn-primary:disabled {
    @apply bg-primary-200 text-primary-900 text-opacity-25;
}

.btn-secondary {
    @apply bg-gray-200 text-gray-700;
}

a.btn-secondary,
.btn-secondary:enabled {
    @apply bg-gray-200 hover:bg-gray-300 hover:shadow;
}

.btn-secondary:disabled {
    @apply bg-gray-200 text-gray-700 text-opacity-25;
}

.btn-danger {
    @apply bg-red-400 text-white;
}

a.btn-danger,
.btn-danger:enabled {
    @apply bg-red-400 bg-opacity-75 hover:bg-opacity-100 hover:shadow;
}

.btn-danger:disabled {
    @apply bg-red-100 text-white;
}

.btn-floating {
    @apply px-4 py-4;
    @apply rounded-xl shadow-xl;
    @apply bg-opacity-100 !important;
}

@media (max-width: 1279px) {
    .-xl\:btn-floating {
        @apply px-4 py-4;
        @apply rounded-xl shadow-xl;
        @apply bg-opacity-100 !important;
    }
}

.btn-toolbar {
    @apply rounded-lg px-2 py-1;
}

.btn-toolbar:enabled {
    @apply hover:bg-gray-200;
}

.btn-ghost,
.btn-ghost-danger {
    @apply flex items-center justify-center;
    @apply text-sm font-black;
    @apply rounded-lg px-4 py-2;
    @apply hover:no-underline;
}

.btn-ghost {
    @apply text-primary-700 hover:bg-primary-50 hover:text-primary-800;
}

.btn-ghost-danger {
    @apply text-red-700 hover:bg-red-50 hover:text-red-800;
}

.bg-primary-50 .btn-ghost {
    @apply text-primary-700 hover:bg-primary-100;
}

.bg-primary-50 .btn-ghost-danger {
    @apply text-red-700 hover:bg-red-100 hover:text-red-800;
}

.bg-primary-200 .btn-ghost {
    @apply text-primary-800 hover:bg-primary-300 hover:text-primary-900;
}

.bg-primary-200 .btn-ghost-danger {
    @apply text-red-800 hover:bg-red-300 hover:text-red-900;
}

.bg-red-100 .btn-ghost-danger {
    @apply text-red-800 hover:bg-red-300 hover:text-red-900;
}

.btn-ghost:disabled {
    @apply text-primary-700 text-opacity-25 hover:bg-transparent hover:text-primary-700 hover:text-opacity-25;
}

.btn-ghost-danger:disabled {
    @apply text-red-700 text-opacity-25 hover:bg-transparent hover:text-red-700 hover:text-opacity-25;
}

.btn-back {
    @apply flex items-center justify-center;
    @apply font-black text-primary-700 hover:text-primary-800;
    @apply rounded-full p-3;
    @apply hover:no-underline;
    @apply relative;
}

.btn-back:before {
    content: '';
    @apply pointer-events-none absolute bg-primary-100;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    transition: top, left, right, bottom;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
    border-radius: inherit;
    z-index: -1;
}

.btn-back:hover:before {
    @apply bottom-0 left-0 right-0 top-0;
}
