.dialog {
    @apply flex flex-col overflow-hidden;
    @apply sm:rounded-3xl sm:shadow-lg;
    @apply bg-surface;
}

.dialog.modal {
    @apply rounded-3xl shadow-lg;
    max-width: min(calc(100vw - 2rem), 35rem);
}

.dialog-back-button-wrapper {
    @apply hidden;
}

.dialog-header {
    @apply flex h-16 w-full items-center justify-between;
}

.dialog-buttons {
    @apply flex justify-end gap-2 px-8 py-4 lg:px-10;
}

.dialog-background {
    --open-close-animation-duration: 5s;
    --open-close-animation-diff-x: 0;
    --open-close-animation-diff-y: 2rem;
    --dialog-open-background: rgba(0, 0, 0, 0.6);
    @apply fixed bottom-0 left-0 right-0 top-0 z-40;
    @apply flex items-center justify-center;
    animation: anim-dialog-background-close var(--open-close-animation-duration) ease-in;
    background-color: rgba(0, 0, 0, 0);
    /*backdrop-filter: blur(0);*/
    pointer-events: none;
}

.dialog-background:has(.error-dialog) {
    @apply z-50;
}

.dialog-background.open {
    animation: anim-dialog-background-open var(--open-close-animation-duration) ease-in;
    background-color: var(--dialog-open-background);
    /*backdrop-filter: blur(4px);*/
    pointer-events: auto;
}

@keyframes anim-dialog-background-open {
    0% {
        background-color: rgba(0, 0, 0, 0);
        /*backdrop-filter: blur(0);*/
    }
    100% {
        background-color: var(--dialog-open-background);
        /*backdrop-filter: blur(4px);*/
    }
}

@keyframes anim-dialog-background-close {
    0% {
        background-color: var(--dialog-open-background);
        /*backdrop-filter: blur(4px);*/
    }
    100% {
        background-color: rgba(0, 0, 0, 0);
        /*backdrop-filter: blur(0);*/
    }
}

.dialog-background.open .dialog-wrapper {
    animation: anim-dialog-open var(--open-close-animation-duration) ease;
    opacity: 1;
}

.dialog-wrapper {
    @apply xl:ml-20;
    animation: anim-dialog-close var(--open-close-animation-duration) ease;
    opacity: 0;
}

@keyframes anim-dialog-open {
    0% {
        opacity: 0;
        transform: translate(var(--open-close-animation-diff-x), var(--open-close-animation-diff-y));
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes anim-dialog-close {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(var(--open-close-animation-diff-x), var(--open-close-animation-diff-y));
    }
}

@media (max-width: 639px) {
    .dialog-wrapper:not(:has(.modal)) {
        @apply w-full overflow-hidden;
        height: var(--viewport-height);
    }

    .dialog-background:not(:has(.modal)) {
        --open-close-animation-diff-x: 100vw;
        --open-close-animation-diff-y: 0;
    }

    .dialog:not(.modal) {
        @apply h-full max-h-full w-full max-w-full !important;
        /*background: none;*/
    }

    .dialog:not(.modal) .dialog-header {
        height: var(--nav-height);
        @apply truncate bg-primary text-onprimary;
    }

    .dialog:not(.modal) .dialog-close-button {
        @apply text-white;
    }

    .dialog:not(.modal) .dialog-back-button-wrapper {
        @apply block;
    }

    .dialog:not(.modal) .dialog-close-button-wrapper {
        @apply hidden;
    }
}

.error-dialog .dialog-header {
    @apply border-onerror-container bg-error-container;
}

.dialog.error-dialog > .dialog-content,
.dialog.error-dialog > .dialog-buttons {
    @apply bg-error-container bg-opacity-50;
}

.error-dialog .dialog-close-button {
    @apply text-onerror-container;
}

.error-dialog h1 {
    @apply text-onerror-container;
}
