html {
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    @apply text-onsurface;
}

body {
    @apply text-base;
}

h1 {
    @apply text-lg font-bold;
}

h2 {
    @apply text-sm font-bold;
}

h3 {
    @apply text-base font-semibold;
}

hr {
    @apply my-4 border-outline-variant;
}

a.link {
    @apply font-bold text-primary hover:underline;
}

code {
    @apply rounded-lg bg-surface-container-high px-2 py-1;
}

section {
    @apply -mx-4 md:mx-0;
}

section > h1,
section > h2,
section > h3,
section > p {
    @apply px-4 md:px-0;
}

::-moz-selection {
    @apply bg-secondary text-onsecondary;
}

::selection {
    @apply bg-secondary text-onsecondary;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('../../fonts/Comfortaa-VariableFont_wght.woff2') format('woff2 supports variations');
    src: url('../../fonts/Comfortaa-VariableFont_wght.woff2') format('woff2-variations');
    src: url('../../fonts/Comfortaa-VariableFont_wght.woff2') format('woff2') tech('variations');
    font-weight: 100 1000;
    font-stretch: 25% 151%;
}
