@layer components {
    /* --------------------------------------------------------------- */
    /* Checkboxes and Radios */
    /* --------------------------------------------------------------- */
    .check-box-container {
        @apply inline-block rounded-lg;
        @apply border-outline;
        @apply border;
        @apply cursor-pointer;
        outline: none;
    }

    .input-radio .check-box-container {
        @apply rounded-full;
    }

    .check-box-icon {
        @apply m-1 flex h-4 w-4 items-center justify-center;
        opacity: 0;
    }

    .input-radio .check-box-icon {
        @apply h-3 w-3;
    }

    .check-box-label {
        @apply ml-2 cursor-pointer;
    }

    .check-box-input:checked ~ .check-box-container .check-box-icon {
        opacity: 1;
    }

    .check-box-input:disabled ~ .check-box-container {
        @apply cursor-default opacity-50;
    }

    .check-box-input:required ~ .check-box-label {
        @apply font-semibold;
    }

    .check-box-input:required ~ .check-box-label:after {
        content: ' *';
    }

    .check-box-container.invalid {
        @apply border-onerror-container bg-error-container;
    }

    .check-box-label.invalid {
        @apply bg-error;
    }
}
