@layer components {
    /* --------------------------------------------------------------- */
    /* Generic input styling */
    /* --------------------------------------------------------------- */

    .input-field-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        overflow: hidden;
        border-bottom-width: 1px;
        padding-bottom: 1px;
        @apply gap-4 px-4;
        @apply bg-surface-container-highest/50;
        @apply rounded-t-md;
        @apply border-outline;
    }

    .bg-surface-container-high .input-field-wrapper {
        @apply bg-surface-container-highest;
    }

    .input-field-wrapper textarea,
    .input-field-wrapper input {
        width: 0;
        flex-grow: 1;
        border: none;
        outline: none;
        background: transparent;
        margin-top: 1.5rem;
        @apply text-onsurface;
    }

    .input-field-wrapper i,
    .input-field-wrapper svg {
        @apply text-sm;
        @apply text-onsurface-variant;
    }

    .input-field-wrapper textarea:focus,
    .input-field-wrapper input:focus {
        border: none;
        outline: none;
    }

    .input-field-wrapper input::placeholder {
        color: currentColor;
        opacity: 0.25;
    }

    .input-field-wrapper label {
        position: absolute;
        top: 0.25rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @apply text-xs;
        @apply font-bold;
        @apply text-onsurface-variant;
    }

    .input-field-wrapper label:has(+ textarea[required]):after,
    .input-field-wrapper label:has(+ input[required]):after {
        content: ' *';
        @apply text-primary;
    }

    .input-hint {
        @apply px-4 pt-1;
        @apply text-onsurface-variant;
        @apply text-xs;
        @apply font-bold;
    }

    /* --------------------------------------------------------------- */
    /* disabled */
    /* --------------------------------------------------------------- */

    .input-field-wrapper:has([disabled]) {
        opacity: 0.5;
        border-bottom-width: 1px;
        @apply border-onsurface/10;
    }

    .input-field-wrapper input:disabled {
        @apply text-onsurface/50;
    }

    .input-field-wrapper input:disabled + i,
    .input-field-wrapper input:disabled + svg {
        @apply text-onsurface/50;
    }

    .input-field-wrapper:has(input[disabled]) + .input-hint {
        @apply text-onsurface-variant/40;
    }

    /* --------------------------------------------------------------- */
    /* hover */
    /* --------------------------------------------------------------- */

    @media not all and (hover: none) {
        .input-field-wrapper:not(:has([disabled])):hover {
            @apply bg-onsurface/10;
        }
    }

    /* --------------------------------------------------------------- */
    /* focus */
    /* --------------------------------------------------------------- */

    .input-field-wrapper:focus-within {
        padding-bottom: 0;
        border-bottom-width: 2px;
        @apply border-primary;
    }

    .input-field-wrapper:focus-within i,
    .input-field-wrapper:focus-within svg,
    .input-field-wrapper:focus-within label {
        @apply text-primary;
    }

    /* --------------------------------------------------------------- */
    /* error */
    /* --------------------------------------------------------------- */

    .input-field-wrapper:has(.invalid) {
        @apply border-error bg-error/20;
    }

    .input-error {
        @apply px-4 pt-1;
        @apply text-xs;
        @apply font-bold;
        @apply text-error;
    }

    .input-field-wrapper:has(.invalid) input,
    .input-field-wrapper:has(.invalid) textarea,
    .input-field-wrapper:has(.invalid) label,
    .input-field-wrapper:has(.invalid) i,
    .input-field-wrapper:has(.invalid) svg {
        @apply text-error;
    }
}
