.bg-striped {
    --color-1: rgb(0 0 0 / 0.03);
    --color-2: rgb(255 255 255 / 0.03);
    --pattern: linear-gradient(
        135deg,
        var(--color-1) 25%,
        var(--color-2) 25%,
        var(--color-2) 50%,
        var(--color-1) 50%,
        var(--color-1) 75%,
        var(--color-2) 75%,
        var(--color-2) 100%
    );
    background-size: 10px 10px;
    background-image: var(--pattern);
}

.event-card {
    @apply overflow-hidden rounded-xl hover:shadow;
    @apply cursor-pointer;
    @apply text-sm font-semibold;
    @apply bg-surface-container-high bg-opacity-50 hover:bg-opacity-75;
}

.event-card .border-event-card {
    @apply border-surface-container-high;
}

.event-card > * {
    @apply h-full w-full py-1 pl-2 pr-4 sm:px-2;
    @apply border-l-[0.5rem] border-surface-container-high;
}

.event-card.loading {
    @apply hover:shadow-none;
    @apply cursor-default;
}

.event-card.loading > * {
}

.event-card.assigned {
    @apply bg-primary-container bg-opacity-50 text-onprimary-container hover:bg-opacity-75;
}

.event-card.assigned .border-event-card {
    @apply border-onprimary-container border-opacity-20;
}

.event-card.waiting-list {
    /*@apply bg-secondary-container text-onsecondary-container bg-opacity-25;*/
}

.event-card.assigned > * {
    @apply border-l-[0.5rem] border-onprimary-container border-opacity-20;
}

.event-card.assigned h3 {
    /*@apply text-primary;*/
}

.event-card.assigned .border-event-card {
}
