@layer utilities {
    body:not(.events\:create) .permission-create-events,
    body:not(.events\:list) .permission-list-events,
    body:not(.events\:read) .permission-read-events,
    body:not(.events\:export) .permission-export-events,
    body:not(.events\:update) .permission-update-events,
    body:not(.events\:update-details) .permission-update-event-details,
    body:not(.events\:update-slots) .permission-update-event-slots,
    body:not(.events\:delete) .permission-delete-events,
    body:not(.registrations\:update) .permission-create-registrations,
    body:not(.registrations\:update) .permission-update-registrations,
    body:not(.registrations\:update) .permission-delete-registrations,
    body:not(.registrations\:update-own) .permission-create-own-registrations,
    body:not(.registrations\:update-own) .permission-update-own-registrations,
    body:not(.registrations\:update-own) .permission-delete-own-registrations,
    body:not(.users\:create) .permission-create-users,
    body:not(.users\:list) .permission-list-users,
    body:not(.users\:list-details) .permission-list-detailed-users,
    body:not(.users\:read-details) .permission-read-user-details,
    body:not(.users\:read-own-details) .permission-read-own-user-details,
    body:not(.users\:update-own-details) .permission-update-own-user-details,
    body:not(.users\:update-details) .permission-update-user-details,
    body:not(.users\:delete) .permission-delete-users,
    body:not(.positions\:list) .permission-list-positions,
    body:not(.positions\:read) .permission-read-positions,
    body:not(.positions\:create) .permission-create-positions,
    body:not(.positions\:update) .permission-update-positions,
    body:not(.positions\:delete) .permission-delete-positions,
    body:not(.qualifications\:list) .permission-list-qualifications,
    body:not(.qualifications\:read) .permission-read-qualifications,
    body:not(.qualifications\:create) .permission-create-qualifications,
    body:not(.qualifications\:update) .permission-update-qualifications,
    body:not(.qualifications\:delete) .permission-delete-qualifications,
    body:not(.application-settings\:update) .permission-update-application-settings {
        display: none !important;
    }
}
