@layer components {
    .context-menu {
        @apply bg-surface-container-high rounded-xl p-4 shadow-xl;
    }

    .context-menu hr {
        @apply -mx-4;
        @apply my-1;
        @apply border-onsurface-variant/10;
    }

    .context-menu-item {
        display: flex;
        align-items: center;
        cursor: pointer;
        @apply -mx-4;
        @apply px-4;
        @apply space-x-4;
        @apply py-3;
        @apply -mx-3;
        border-radius: var(--radius-lg);

        @apply md:py-2;
    }

    .context-menu-item:hover {
        background-color: var(--color-surface-container-highest);
        text-decoration-line: none;
    }

    .context-menu-item.disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    .context-menu-item > i,
    .context-menu-item > svg:first-child {
        display: block;
        @apply w-6;
    }
}
