@layer components {
    .filter-panel {
        overflow-y: hidden;
        overflow-x: auto;

        display: flex;
        align-items: center;
        gap: calc(var(--spacing) * 2);

        @apply min-h-10;
    }
}
