@layer components {
    .skeleton {
        @apply animate-pulse;
        --skeleton-height: 1em;
        --skeleton-width: 90%;
        pointer-events: none;
    }

    .skeleton *:not(svg):not(svg *) {
        /* remove any real text */
        color: transparent;
    }

    .skeleton p,
    .skeleton h1,
    .skeleton h2,
    .skeleton h3,
    .skeleton h4,
    .skeleton h5,
    .skeleton span {
        min-width: 5rem;
    }

    .skeleton p:nth-child(1) {
        --skeleton-width: 90%;
    }

    .skeleton p:nth-child(2) {
        --skeleton-width: 70%;
    }

    .skeleton p:nth-child(3) {
        --skeleton-width: 80%;
    }

    .skeleton .font-bold {
        --skeleton-height: 1.15em;
    }

    .skeleton .font-semibold {
        --skeleton-height: 1.1em;
    }

    .skeleton .font-light {
        --skeleton-height: 0.9em;
    }

    .skeleton .font-thin {
        --skeleton-height: 0.85em;
    }

    .skeleton p:before,
    .skeleton h1:before,
    .skeleton h2:before,
    .skeleton h3:before,
    .skeleton h4:before,
    .skeleton h5:before,
    .skeleton span:before {
        content: '';
        height: var(--skeleton-height);
        width: var(--skeleton-width);
        display: inline-block;
        align-self: center;
        margin: auto;
        vertical-align: middle;
        background-color: var(--color-surface-container-highest);
        border-radius: var(--radius-lg);
    }

    /* hide nested span elements */
    .skeleton p span:before,
    .skeleton span span:before,
    .skeleton span:has(svg):before,
    .skeleton h1 span:before,
    .skeleton h2 span:before,
    .skeleton h3 span:before,
    .skeleton h4 span:before,
    .skeleton h5 span:before {
        display: none;
    }
}
