/* --------------------------------------------------------------- */
/* Multi selection */
/* --------------------------------------------------------------- */

.v-multi-selection-list:focus-within {
    border-color: cornflowerblue;
}

.v-multi-selection-entry {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @apply px-2 py-1;
}

.v-multi-selection-entry.active {
    background: rgba(0, 0, 0, 0.1);
}

.v-multi-selection-entry.active .v-multi-selection-icon-add,
.v-multi-selection-entry.active .v-multi-selection-icon-remove {
    display: block;
}

.v-multi-selection-icon-add,
.v-multi-selection-icon-remove {
    color: rgba(0, 0, 0, 0.5);
    display: none;
    opacity: 0.75;
    width: 1rem;
    height: 1rem;
}

.v-multi-selection-entry:hover .v-multi-selection-icon-add,
.v-multi-selection-entry:hover .v-multi-selection-icon-remove {
    display: block;
}

@media not all and (hover: none) {
    .v-multi-selection-entry:hover {
        background: rgba(0, 0, 0, 0.05);
    }
    .v-multi-selection-entry:hover .v-multi-selection-icon-add,
    .v-multi-selection-entry:hover .v-multi-selection-icon-remove {
        display: block;
    }
}
