/* --------------------------------------------------------------- */
/* Textarea */
/* --------------------------------------------------------------- */

.v-input-textarea .input-field-wrapper {
    cursor: text;
    padding-right: 0;
}

.v-input-textarea .input-character-counter {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    @apply text-xs;
}
