@import 'tailwind.css';

@import 'lib/dropdown.css';
@import 'lib/collapsible-pane.css';

@import 'styling/animations.css';
@import 'styling/inputs.css';
@import 'styling/typography.css';
@import 'styling/buttons.css';
@import 'styling/table.css';
@import 'styling/pagination.css';
@import 'styling/scrollbar.css';
@import 'styling/status-panels.css';

@import 'domain/role.css';
@import 'domain/permission.css';

html {
    box-sizing: border-box;
    overflow-x: hidden;
    --nav-height: 3rem;
    --viewport-width: 100vw;
    --viewport-height: 100vh;
}

html,
body {
    /* disables drag to reload */
    /* overscroll-behavior: none; */
}

.h-nav {
    height: var(--nav-height);
}

.h-screen {
    height: var(--viewport-height);
}

.min-h-screen {
    min-height: var(--viewport-height);
}

.max-h-screen {
    max-height: var(--viewport-height);
}

.pt-nav {
    padding-top: var(--nav-height);
}

*:focus {
    outline: none;
}

svg {
    fill: currentColor;
}

.animate-once {
    animation-iteration-count: 1;
}
