@import './tailwind.css';
@import './theme/light.css';
@import './theme/dark.css';

@import './base/typography.css';

@import './utility/animations.css';
@import './utility/scrollbar.css';

@import './components/dropdown.css';
@import './components/inputs/index.css';
@import './components/buttons/index.css';
@import './components/table.css';
@import './components/pagination.css';
@import './components/status-panels.css';

@import './domain/permission.css';

html {
    box-sizing: border-box;
    overflow-x: hidden;
    --nav-height: 3rem;
    --viewport-width: 100vw;
    --viewport-height: 100vh;
}

html,
body {
    /* disables drag to reload */
    /* overscroll-behavior: none; */
}

.h-nav {
    height: var(--nav-height);
}

.h-screen {
    height: var(--viewport-height, 100vh);
}

.min-h-screen {
    min-height: var(--viewport-height, 100vh);
}

.max-h-screen {
    max-height: var(--viewport-height, 100vh);
}

.pt-nav {
    padding-top: var(--nav-height);
}

*:focus {
    outline: none;
}

svg {
    fill: currentColor;
}

.animate-once {
    animation-iteration-count: 1;
}
