@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --radius-4xl: 3em;

    --max-height-xs: 20rem;
    --max-height-sm: 24rem;
    --max-height-md: 28rem;
    --max-height-lg: 32rem;
    --max-height-xl: 36rem;
    --max-height-2xl: 42rem;
    --max-height-3xl: 48rem;
    --max-height-4xl: 56rem;
    --max-height-5xl: 64rem;
    --max-height-6xl: 72rem;
    --max-height-7xl: 80rem;

    --breakpoint-xs: 25rem;
}

@theme {
    /* disable default colors */
    --color-*: initial;

    /* special colors */
    --color-transparent: transparent;
    --color-current: currentColor;
    --color-inherit: inherit;
    --color-black: rgb(0 0 0);
    --color-white: rgb(255 255 255);
}
