@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        --color-transparent: transparent;
        --color-current: currentColor;
        --color-inherit: inherit;
        --color-black: 0 0 0;
        --color-white: 255 255 255;
        --color-primary: 49 98 141;
        --color-primary-container: 207 229 255;
        --color-primary-fixed: 207 229 255;
        --color-primary-fixed-dim: 156 203 251;
        --color-onprimary: 255 255 255;
        --color-onprimary-container: 17 74 115;
        --color-onprimary-fixed: 0 29 51;
        --color-onprimary-fixed-variant: 17 74 115;
        --color-secondary: 82 96 112;
        --color-secondary-container: 213 228 247;
        --color-secondary-fixed: 213 228 247;
        --color-secondary-fixed-dim: 185 200 218;
        --color-onsecondary: 255 255 255;
        --color-onsecondary-container: 58 72 87;
        --color-onsecondary-fixed: 14 29 42;
        --color-onsecondary-fixed-variant: 58 72 87;
        --color-tertiary: 105 87 121;
        --color-tertiary-container: 239 219 255;
        --color-tertiary-fixed: 239 219 255;
        --color-tertiary-fixed-dim: 212 190 230;
        --color-ontertiary: 255 255 255;
        --color-ontertiary-container: 80 64 97;
        --color-ontertiary-fixed: 35 21 51;
        --color-ontertiary-fixed-variant: 80 64 97;
        --color-surface: 247 249 255;
        --color-surface-dim: 216 218 224;
        --color-surface-bright: 247 249 255;
        --color-surface-variant: 222 227 235;
        --color-surface-tint: 49 98 141;
        --color-surface-container-lowest: 255 255 255;
        --color-surface-container-low: 242 243 249;
        --color-surface-container: 236 238 244;
        --color-surface-container-high: 230 232 238;
        --color-surface-container-highest: 224 226 232;
        --color-onsurface: 24 28 32;
        --color-onsurface-variant: 66 71 78;
        --color-outline: 114 119 127;
        --color-outline-variant: 194 199 207;
        --color-scrim: 0 0 0;
        --color-success: 67 104 20;
        --color-success-container: 195 241 141;
        --color-onsuccess: 255 255 255;
        --color-onsuccess-container: 16 32 0;
        --color-warning: 120 90 0;
        --color-warning-container: 255 223 154;
        --color-onwarning: 255 255 255;
        --color-onwarning-container: 37 26 0;
        --color-info: 0 98 157;
        --color-info-container: 207 229 255;
        --color-oninfo: 255 255 255;
        --color-oninfo-container: 0 29 51;
        --color-error: 185 28 28;
        --color-error-container: 255 218 214;
        --color-onerror: 255 255 255;
        --color-onerror-container: 65 0 2;
    }

    html.dark {
        --color-transparent: transparent;
        --color-current: currentColor;
        --color-inherit: inherit;
        --color-black: 0 0 0;
        --color-white: 255 255 255;
        --color-primary: 231 241 255;
        --color-primary-container: 152 199 247;
        --color-primary-fixed: 207 229 255;
        --color-primary-fixed-dim: 156 203 251;
        --color-onprimary: 0 0 0;
        --color-onprimary-container: 0 12 26;
        --color-onprimary-fixed: 0 0 0;
        --color-onprimary-fixed-variant: 0 18 35;
        --color-secondary: 231 241 255;
        --color-secondary-container: 181 196 214;
        --color-secondary-fixed: 213 228 247;
        --color-secondary-fixed-dim: 185 200 218;
        --color-onsecondary: 0 0 0;
        --color-onsecondary-container: 0 12 25;
        --color-onsecondary-fixed: 0 0 0;
        --color-onsecondary-fixed-variant: 4 18 31;
        --color-tertiary: 249 235 255;
        --color-tertiary-container: 208 187 226;
        --color-tertiary-fixed: 239 219 255;
        --color-tertiary-fixed-dim: 212 190 230;
        --color-ontertiary: 0 0 0;
        --color-ontertiary-container: 18 5 33;
        --color-ontertiary-fixed: 0 0 0;
        --color-ontertiary-fixed-variant: 24 10 40;
        --color-surface: 16 20 24;
        --color-surface-dim: 16 20 24;
        --color-surface-bright: 77 80 85;
        --color-surface-variant: 66 71 78;
        --color-surface-tint: 156 203 251;
        --color-surface-container-lowest: 0 0 0;
        --color-surface-container-low: 28 32 36;
        --color-surface-container: 45 49 53;
        --color-surface-container-high: 56 60 64;
        --color-surface-container-highest: 68 71 76;
        --color-onsurface: 255 255 255;
        --color-onsurface-variant: 255 255 255;
        --color-outline: 236 240 248;
        --color-outline-variant: 190 195 203;
        --color-scrim: 0 0 0;
        --color-success: 168 212 115;
        --color-success-container: 46 79 0;
        --color-onsuccess: 30 55 0;
        --color-onsuccess-container: 195 241 141;
        --color-warning: 247 190 29;
        --color-warning-container: 90 67 0;
        --color-onwarning: 63 46 0;
        --color-onwarning-container: 255 223 154;
        --color-info: 152 203 255;
        --color-info-container: 0 74 119;
        --color-oninfo: 0 51 84;
        --color-oninfo-container: 207 229 255;
        --color-error: 255 180 171;
        --color-error-container: 147 0 11;
        --color-onerror: 105 0 5;
        --color-onerror-container: 255 218 214;
    }
}
