/* --------------------------------------------------------------- */
/* Tag Button for filters */
/* --------------------------------------------------------------- */

@layer components {
    .btn-tag {
        white-space: nowrap;
        border-width: 1px;
        @apply rounded-full;
        @apply border-outline;
        @apply text-secondary;
        @apply px-4 py-1;
        @apply text-sm;
        @apply font-bold;
        @apply hover:border-secondary;
        @apply hover:shadow;
    }

    .btn-tag.active {
        @apply border-secondary;
        @apply bg-secondary-container;
        @apply text-onsecondary-container;
    }

    .btn-tag.active .icon-inactive,
    .btn-tag .icon-active {
        display: none;
    }

    .btn-tag .icon-inactive,
    .btn-tag.active > .icon-active {
        display: inline-block;
        @apply w-4;
    }
}
