/* --------------------------------------------------------------- */
/* Text Button */
/* --------------------------------------------------------------- */

@layer components {
    .btn-ghost {
        @apply text-primary;
    }

    .btn-ghost-danger {
        @apply text-error;
    }

    .btn-ghost:not(:disabled):hover {
        @apply bg-primary/10;
    }

    .btn-ghost-danger:not(:disabled):hover {
        @apply bg-error/10;
    }

    .btn-ghost:disabled,
    .btn-ghost-danger:disabled {
        @apply opacity-50;
    }
}
