/* --------------------------------------------------------------- */
/* Icon Button */
/* --------------------------------------------------------------- */

@layer components {
    .btn-icon {
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        @apply h-11 w-11;
    }

    .btn-icon:before {
        content: '';
        background: currentColor;
        opacity: 0.1;
        pointer-events: none;
        position: absolute;
        top: 50%;
        bottom: 50%;
        left: 50%;
        right: 50%;
        transition: top, left, right, bottom;
        transition-duration: 100ms;
        transition-timing-function: ease-in-out;
        @apply rounded-full;
    }

    .btn-icon:hover:before {
        @apply top-0.5 right-0.5 bottom-0.5 left-0.5;
    }
}
