html.dark {
    --color-primary: rgb(231 241 255);
    --color-primary-container: rgb(152 199 247);
    --color-primary-fixed: rgb(207 229 255);
    --color-primary-fixed-dim: rgb(156 203 251);
    --color-onprimary: rgb(0 0 0);
    --color-onprimary-container: rgb(0 12 26);
    --color-onprimary-fixed: rgb(0 0 0);
    --color-onprimary-fixed-variant: rgb(0 18 35);
    --color-secondary: rgb(231 241 255);
    --color-secondary-container: rgb(181 196 214);
    --color-secondary-fixed: rgb(213 228 247);
    --color-secondary-fixed-dim: rgb(185 200 218);
    --color-onsecondary: rgb(0 0 0);
    --color-onsecondary-container: rgb(0 12 25);
    --color-onsecondary-fixed: rgb(0 0 0);
    --color-onsecondary-fixed-variant: rgb(4 18 31);
    --color-tertiary: rgb(249 235 255);
    --color-tertiary-container: rgb(208 187 226);
    --color-tertiary-fixed: rgb(239 219 255);
    --color-tertiary-fixed-dim: rgb(212 190 230);
    --color-ontertiary: rgb(0 0 0);
    --color-ontertiary-container: rgb(18 5 33);
    --color-ontertiary-fixed: rgb(0 0 0);
    --color-ontertiary-fixed-variant: rgb(24 10 40);
    --color-surface: rgb(16 20 24);
    --color-surface-dim: rgb(16 20 24);
    --color-surface-bright: rgb(77 80 85);
    --color-surface-variant: rgb(66 71 78);
    --color-surface-tint: rgb(156 203 251);
    --color-surface-container-lowest: rgb(0 0 0);
    --color-surface-container-low: rgb(28 32 36);
    --color-surface-container: rgb(45 49 53);
    --color-surface-container-high: rgb(56 60 64);
    --color-surface-container-highest: rgb(68 71 76);
    --color-onsurface: rgb(255 255 255);
    --color-onsurface-variant: rgb(255 255 255);
    --color-outline: rgb(236 240 248);
    --color-outline-variant: rgb(190 195 203);
    --color-scrim: rgb(0 0 0);
    --color-success: rgb(168 212 115);
    --color-success-container: rgb(46 79 0);
    --color-onsuccess: rgb(30 55 0);
    --color-onsuccess-container: rgb(195 241 141);
    --color-warning: rgb(247 190 29);
    --color-warning-container: rgb(90 67 0);
    --color-onwarning: rgb(63 46 0);
    --color-onwarning-container: rgb(255 223 154);
    --color-info: rgb(152 203 255);
    --color-info-container: rgb(0 74 119);
    --color-oninfo: rgb(0 51 84);
    --color-oninfo-container: rgb(207 229 255);
    --color-error: rgb(255 180 171);
    --color-error-container: rgb(147 0 11);
    --color-onerror: rgb(105 0 5);
    --color-onerror-container: rgb(255 218 214);
}
