@theme {
    --color-primary: rgb(49 98 141);
    --color-primary-container: rgb(207 229 255);
    --color-primary-fixed: rgb(207 229 255);
    --color-primary-fixed-dim: rgb(156 203 251);
    --color-onprimary: rgb(255 255 255);
    --color-onprimary-container: rgb(17 74 115);
    --color-onprimary-fixed: rgb(0 29 51);
    --color-onprimary-fixed-variant: rgb(17 74 115);
    --color-secondary: rgb(82 96 112);
    --color-secondary-container: rgb(213 228 247);
    --color-secondary-fixed: rgb(213 228 247);
    --color-secondary-fixed-dim: rgb(185 200 218);
    --color-onsecondary: rgb(255 255 255);
    --color-onsecondary-container: rgb(58 72 87);
    --color-onsecondary-fixed: rgb(14 29 42);
    --color-onsecondary-fixed-variant: rgb(58 72 87);
    --color-tertiary: rgb(105 87 121);
    --color-tertiary-container: rgb(239 219 255);
    --color-tertiary-fixed: rgb(239 219 255);
    --color-tertiary-fixed-dim: rgb(212 190 230);
    --color-ontertiary: rgb(255 255 255);
    --color-ontertiary-container: rgb(80 64 97);
    --color-ontertiary-fixed: rgb(35 21 51);
    --color-ontertiary-fixed-variant: rgb(80 64 97);
    --color-surface: rgb(247 249 255);
    --color-surface-dim: rgb(216 218 224);
    --color-surface-bright: rgb(247 249 255);
    --color-surface-variant: rgb(222 227 235);
    --color-surface-tint: rgb(49 98 141);
    --color-surface-container-lowest: rgb(255 255 255);
    --color-surface-container-low: rgb(242 243 249);
    --color-surface-container: rgb(236 238 244);
    --color-surface-container-high: rgb(230 232 238);
    --color-surface-container-highest: rgb(224 226 232);
    --color-onsurface: rgb(24 28 32);
    --color-onsurface-variant: rgb(66 71 78);
    --color-outline: rgb(114 119 127);
    --color-outline-variant: rgb(194 199 207);
    --color-scrim: rgb(0 0 0);
    --color-success: rgb(67 104 20);
    --color-success-container: rgb(195 241 141);
    --color-onsuccess: rgb(255 255 255);
    --color-onsuccess-container: rgb(16 32 0);
    --color-warning: rgb(120 90 0);
    --color-warning-container: rgb(255 223 154);
    --color-onwarning: rgb(255 255 255);
    --color-onwarning-container: rgb(37 26 0);
    --color-info: rgb(0 98 157);
    --color-info-container: rgb(207 229 255);
    --color-oninfo: rgb(255 255 255);
    --color-oninfo-container: rgb(0 29 51);
    --color-error: rgb(185 28 28);
    --color-error-container: rgb(255 218 214);
    --color-onerror: rgb(255 255 255);
    --color-onerror-container: rgb(65 0 2);
}
