name: Docker

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - synchronize
    paths:
      - 'Dockerfile'
      - '.dockerignore'
      - '.tool-versions'
jobs:
  validate:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      # Set up BuildKit Docker container builder to be able to build
      # multi-platform images and export cache
      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.11.1

      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date '+%Y-%m-%d %H:%M:%S')"

      # Build Docker image with Buildx (don't push on PR)
      # https://github.com/docker/build-push-action
      - name: Build Docker image
        id: build-and-push-dev
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          build-args: |
            COMMIT=${{ github.sha }}
            BRANCH=${{ github.head_ref || github.ref_name }} 
            TIME=${{ steps.date.outputs.date }}
          push: false
